:root {
  --cell-size: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#player-turn-name {
  font-size: 30px;
}

.player-score {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin-top: 40px;
}

.player-1 {
  color: red;
  font-size: 30px;
}

.player-2 {
  color: blue;
  font-size: 30px;
  text-align: right;
}

.board {
  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f2f2f24b;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 40px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: 0;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: 0;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: 0;
}

.cell.cross {
  cursor: not-allowed;
}

.board.cross .cell:not(.cross):not(.circle):hover:before,
.board.cross .cell:not(.cross):not(.circle):hover:after {
  content: " ";
  height: 100%;
  width: 2px;
  background-color: rgb(175, 175, 175);
}

.cell.cross:before,
.cell.cross:after {
  content: " ";
  height: 100%;
  width: 2px;
  background-color: #333;
}

.cell.cross:before,
.board.cross .cell:hover:before {
  transform: rotate(45deg);
}
.cell.cross:after,
.board.cross .cell:hover:after {
  transform: rotate(-45deg);
}

.cell.circle {
  cursor: not-allowed;
}

.board.circle .cell:not(.cross):not(.circle):hover:before {
  content: " ";
  height: 75%;
  width: 75%;
  border: 2px solid;
  border-radius: 50%;
  border-color: rgb(175, 175, 175);
}

.cell.circle::before {
  content: " ";
  height: 75%;
  width: 75%;
  border: 2px solid;
  border-radius: 50%;
  border-color: #333;
}

/* winner screen */

.end-screen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#end-text {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

#restart-button {
  font-size: 2rem;
  padding: 0.25em, 0.5em;
}

#restart-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.end-screen.show {
  display: flex;
}
